<a href="https://colab.research.google.com/github/Alexander1791/DemoRepo/blob/main/Loops_activAll.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#With this code we can know which is a leap year from all the years in the list years
Annie = 1996
Jane = 1999

years = [Annie, Jane]

for year in years:
    if (year % 4 == 0):
        print(f"It is a Leap year: {year}")
    else:
        print (f"It is not Leap year {year}")

It is a Leap year: 1996
It is not Leap year 1999

In [2]:
#With this program we can know what each child is entitled to for lunch, that they meet the age range
Edge = int(input("What is your age? "))
if (Edge <= 9):
    print("Here is your Milk porridge")
elif (Edge > 9) and (Edge < 15):
    print("Here is your sandwich")
elif (Edge > 15) and (Edge < 18):
    print("Here is your Burger")
else:
    print("You are not a kid")

What is your age? 10
Here is your sandwich

In [3]:
for x in range(-4,5):
    print(x)

-4
-3
-2
-1
0
1
2
3
4

In [4]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for x in range(0,6):
  print(Genres[x])

rock
R&B
Soundtrack
R&B
soul
pop

In [5]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for x in range(0,5):
  print(squares[x])

red
yellow
green
purple
blue

In [6]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

x=0
MinRating = 6
Rating = PlayListRatings[0]

while (Rating >= 6):
  print(Rating)
  x = x+1
  Rating = PlayListRatings[x]

10
9.5
10
8
7.5

In [7]:
squares = ['orange', 'orange', 'purple', 'blue', 'orange']
new_squares = []

i = 0

while (i < len(squares)) and (squares[i] == 'orange'):
    new_squares.append(squares[i])
    i += 1

print(new_squares)

['orange', 'orange']

In [8]:
print("Table of 6")
a = 1
for x in range(1,11):
  x = x*6
  print("6 x ", a, "= ", x)
  a = a+1
print("Table of 7")
a = 1
for x in range(1,11):
  x = x*7
  print("7 x ", a, "= ", x)
  a = a+1

Table of 6
6 x  1 =  6
6 x  2 =  12
6 x  3 =  18
6 x  4 =  24
6 x  5 =  30
6 x  6 =  36
6 x  7 =  42
6 x  8 =  48
6 x  9 =  54
6 x  10 =  60
Table of 7
7 x  1 =  7
7 x  2 =  14
7 x  3 =  21
7 x  4 =  28
7 x  5 =  35
7 x  6 =  42
7 x  7 =  49
7 x  8 =  56
7 x  9 =  63
7 x  10 =  70